{% extends 'base.html' %}

{% block content %}
<p><h5><mark> 홈택스 로그인 정보 저장</mark></h5></p>
<p>

<div class="form-inline">
    <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'script1' %}'">인증서등록</button>
    <div class="form-group form-group-sm">
        <label for="select-cert" >인증서</label>
        <select class="form-control form-control-sm" style="width: 100px" id="select-cert" name="select-cert">
            {% if dic_sum.dic_1st.lst_cert_nm %}
            {% for cert_nm in dic_sum.dic_1st.lst_cert_nm %}
            <option>{{cert_nm}}</option>
            {% endfor %}
            {% else %}
            <option>인증서등록요망</option>
            {% endif %}
        </select>
    </div>
    <button class="btn btn-warning btn-sm form-control-sm" onclick="location.href=#">Delete</button>
    <div class="form-group form-group-sm">
        <label for="agentId">CTA ID</label>
        <input type="text" class="form-control form-control-sm" id="agentId">
    </div>
    <div class="form-group form-group-sm">
        <label for="agentPw">CTA PW</label>
        <input type="text" class="form-control form-control-sm" id="agentPw">
    </div>
    <div class="form-group form-group-sm">
        <label for="userId">부서 ID</label>
        <input type=" text" class="form-control form-control-sm"  id="userId">
    </div>
    <div class="form-group form-group-sm">
        <label for="userPw"">부서 PW</label>
                <input type=" text" class="form-control form-control-sm" id="userPw">
    </div>
    <div class="form-group form-group-sm">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>
    </div>   
</div>

<!-- 자바스크립트 Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</p>
<!-- 에러메세지 https://docs.djangoproject.com/en/3.0/ref/contrib/messages/  -->
<p>
<div>
{% if messages %}

{% for message in messages %}
    {% if "성공" in message.message %}
    <div class="alert alert-primary">
        <strong>등록 성공 : </strong> {{ message.message }}
    </div>
    {% else %}
    <div class="alert alert-danger">
        <strong>등록 에러 : </strong> {{ message.message }}
    </div>
    {% endif %}
{% endfor %}

{% endif %}
</div>
<hr>
{% if dic_sum.dic_2nd.dic_cert_info.cert_nm %}
<!--Display JSON as table in Django   -->
<div class="table table-sm table-bordered table-hover table-condensed table-responsive">
    <table>
        <tr class="thead-dark">
            <th>key</th>
            <th>value</th>
        </tr>
        {% for key, value in dic_sum.dic_2nd.dic_cert_info.items %}
        <tr>
            <th>{{key}}</th>
            {% if key == 'cert_pw' %}
                <td>●●●●●●●●●●</td>
            {% else %}
                <td>{{value}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
</p> 

{% endblock %}