/* body {
    background-color: greenyellow; */
/* } */
label {
    font-size: 14px;
}
.col-sm-2 {
    background-color: aliceblue;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 10px;
    list-style: none;
}
.cert-table table th, td {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
.form-group-sm, .form-control-sm{
    margin-left: 5px;
    padding-top: 2px;
}
.form-control-sm {
    max-width: 80px;
}
#select-cert {
    max-width: 100px;
}